<div class="cf-dashboard-total-imp-clicks-section-content">
<table class-"imp-clicks-section-content-table">
<tr>
	<td><span class="impression-text"><b>Total number of impressions</b></span></td>
	<td>&nbsp;&nbsp;<%= @impressions %></td>
</tr>
<tr>
	<td><span class="clicks-text"><b>Total number of button clicks</b></span></td>
	<td>&nbsp;&nbsp;<%= @clicks %></td>
</tr>

</table>
</div>
