<div class="cf-aboutus-overview">
	<h2>Overview - CrawlFish</h2>
</div>

<div class="cf-aboutus-overview-details">
	<p><b>CrawlFish</b> is an <b>online price comparison service</b> which enables the customer to find, explore, compare prices of products and discover best deals from online shopping portals and retailers in cities across India and assists customer in making a well-informed purchase decision.</p>
	<p><b>CrawlFish</b> also can be used as a <b>location based price search engine</b>, where people can find price of a product from a shop near their place in their locality.</p>
	<p><b>Why the name CrawlFish?</b></p>
	<ul>
	<li>A crawler is a computer program that browses the World Wide Web in a methodical, automated manner or in an orderly fashion.</li>
	<br/>
	<li><b>Fish (v)</b> – to search carefully and catch something.</li>
	<br/>
	<li>Likewise, we browse the entire shopping catalogue of online and retail shops, present the user with comparison price grid and deal details and allow the user to 'fish' out the best product purchase choice.</li>
	<br/>
	</ul>
	<p>We want to be the ‘place’ in internet, where people can find, explore and compare from wide range of products across all categories, discover deals and to buy at best price from best retailer with much simplicity.</p>
</div>
