<div class="cf-aboutus-overview">
	<h2>What we do - CrawlFish</h2>
</div>
<div class="cf-aboutus-overview-details">
<p style="color:#C42525;font-weight:bold">For You</p>
<p>We want to simplify your shopping by providing you all options that are involved in making a decision to buy a product. You can choose to buy from all the famous online shopping portals as well from the shops that are near your locality.</p>
<p>To know more about what you can do in crawlfish, visit <%= link_to "CrawlFish 101",{:controller => 'footer',:action => 'faq'}%></p>
<p style="color:#C42525;font-weight:bold">For Business</p>
<ul>
	<li>Democratization of ecommerce market</li>
	<li>To create a level playing field and help businesses grow</li>
</ul>
<p>To know more about how you can be a partner with us, visit <%= link_to "Merchant Login", merchant_login_path%></p>
</div>
