<div class="cf-faq-overview">
	<h2>CrawlFish 101</h2>
</div>
<div class="cf-faq-details">
	<div class="cf-faq-header-text">The CrawlFish search</div>
	<div class="cf-faq-answer">
		<p>CrawlFish search is one of the unique ways of searching a product. You can search for products by keying in a product name or a category or any of the features.</p>
		<p>For books, you can search not only with book name but also with publisher, author, genre, binding type etc.</p>
		<p><b>Book Search:</b> You want to search for all the books written by author <i>“Ayn Rand”</i>. If you key in <i>“Ayn Rand”</i> in our search, all the books written by that author will be displayed. If you want to search for books written by <i>“Ayn Rand”</i> with <i>“paperback”</i> as binding, key in <i>“Ayn Rand Paperback”</i>.</p>
		<p>Try searching for, <b><i>“Picador”, “Books”, “Fiction”</i></b>.</p>
		<p>For mobiles, you can search not only with mobile name but also with brand name, operating system, form factor, camera and other unique features.</p>
		<p><b>Mobile Search:</b> You want to search for all the candy bar mobiles launched by nokia, key in <i>“nokia candybar”</i>. You will get all relevant mobiles matching nokia and candybar.</p>
		<p>Try searching for, <b><i>“HTC 2 MP”, “Android”, “Smart phones”</i></b>.</p>
	</div>
	<br/>
	<div class="cf-faq-header-text">Find, Compare and Decide</div>
	<div class="cf-faq-answer">
		<p>To know more about a product, click on COMPARE button. In the products page, you can find the following</p>
		<p><b>Compare prices and deals from online shops and shops near you</b></p>
		<ul>
		<li>List of online shopping portals along with price, shipping time and shipping cost for the product</li>
		<li>List of retailers in your city along with price, delivery time and delivery cost for the product</li>
		</ul>
		<p>Initially, you will get all prices from all retailers in your city. If you want to refine your results by your locality, say, Anna Nagar, select City and Area in “Locate a shop in your area”. Immediately, price grid will refresh with price information from only those shops in your locality.</p>
		<p>If you want to go back to see price from all shops, then click “Visit all shops” link.</p>
		<p>To include or exclude ‘out of stock’ products, click on respective link.</p>
		<p><b>Details about this product</b></p>
		<ul>
		<li><b>Specification</b> – Categorized and Comprehensive information about product can be found in this.</li>
		<li><b>Reviews</b> – Detailed reviews about product can be seen here.</li>
		<li><b>Recommendations</b> – You can browse to see more products similar to a product that you are viewing. If you want to know books penned by author who has written the book that you are currently viewing, click on BROWSE link.More section offers you more choice to browse products that you might be interested in.</li>
		</ul>
		<p><b>Deal of the day</b></p>
		<p>All hot and happening deals will be listed in this Deal of the day. You can choose to use this section to avail deal from online shopping portals and retailers in your city.</p>
		<p><b>Similar Product</b></p>
		<p>This will give you an exact similar product to the product that you are currently viewing.</p>
	</div>
	<br/>
	<div class="cf-faq-header-text">Buy</div>
	<div class="cf-faq-answer">
	<p><b>Online Shopping Portals</b></p>
	<p>You have to follow the “Visit Shop” link which will lead you to respective shopping portal. From the portal, you can buy the product.</p>
	<p><b>Retailers near your locality</b></p>
	<p>Visit the retailers shop page in CrawlFish by following 'Visit Shop'. There you can find contact details and location of shop in map. You can choose to visit the shop in person or send SMS to that seller using our “SEND SMS” in retailers shop page or contact the retailer using contact details.</p>
	</div>
	<br/>
	<div class="cf-faq-header-text">CrawlFish Price Search</div>
	<div class="cf-faq-answer">
	<p>In CrawlFish, we offer an innovative way of searching for products across all categories. Say, you want to search for all those products that can be bought for Rs.1000. It is simple, indeed.</p>
	<ul>
	<li>Visit “Price Finder” from our home page.</li>
	<li>Key in Rs.1000.</li>
	<li>You will get all products that can be bought for Rs.1000.</li>
	<li>You can also refine your search by category and type of shops [online shopping portals or retailers near your locality]</li>
	</ul>
	</div>


</div>
