<div class="cf-faq-overview">
	<h2>FAQ</h2>
</div>
<div class="cf-faq-details">
	<div class="cf-faq-qa">
		<div class="cf-faq-question">
			What you can do in CrawlFish?
		</div>
		<div class="cf-faq-answer">
			<p>Initially, we are starting with categories - Books and Mobiles.  As we continue to scale up, you can search across many categories.</p>
<ul>
<li>Search for a product</li>
<li>Explore more about the product</li>
<li>Read reviews
<li>From Online Shopping portals</li>
	<ul>
	<li>Compare prices across various online shopping portals</li>
	<li>Follow the link to seller’s site and buy from it</li>
</ul>
<li>From retailers near your locality</li>
	<ul>
	<li>Compare prices across various retailers near your locality</li>
	<li>Filter price search results based on your locality and city</li>
	<li>Visit shop page of retailer in CrawlFish</li>
	<li>Find seller’s store contact details</li>
	<li>You can visit seller’s store in person or let seller know that you are interested to buy or call seller to place order for the product</li>
	</ul>
</ul>

            	</div>
	</div>
                    
                    <div class="cf-faq-qa">
	                	<div class="cf-faq-question">
    	                	Is CrawlFish an online shopping portal?
        	            </div>
            	        <div class="cf-faq-answer">
                	    	We are not an online shopping portal and we do not sell any products. We are a price comparison portal where you can find, compare and decide on where to buy the product. You can choose to buy from many online shopping portals and retailers near your locality.
                    	</div>
                    </div>

                    <div class="cf-faq-qa">
	                	<div class="cf-faq-question">
    	                		Is CrawlFish a location based price search engine?
        	            </div>
            	        <div class="cf-faq-answer">
                	    	CrawlFish is a ‘first of its kind’ location based price search engine where you can find price of a product near your locality. On Day one, we start with retailers across Chennai. As we continue to grow, we will bring other major cities in to our fold.
                    	</div>
                    </div>
                    
                    <div class="cf-faq-qa">
	                	<div class="cf-faq-question">
    	                		Why is CrawlFish in beta?
        	            </div>
            	        <div class="cf-faq-answer">
                	    	CrawlFish will continue to operate in beta for few months as we evolve by adding more products across many categories, scaling up to other cities, and iterating by sincerely listening to users and sellers.
                    	</div>
                    </div>
                    
                    <div class="cf-faq-qa">
	                	<div class="cf-faq-question">
    	                		How to contact CrawlFish?
        	            </div>
            	        <div class="cf-faq-answer">
                	    	<p>Please visit <%= link_to "Speak to us", speak_to_us_path%>, to send in your suggestions, issues/defects. We are eagerly waiting to listen to your suggestions to make CrawlFish a better place to be in the internet.</p>
<p>You can send an email to <span style="color:#06C">business@crawlfish.in</span> or visit <%= link_to "Speak to us", speak_to_us_path%>, to contact us regarding advertisement or partnership.</p>
                    	</div>
                    </div>
                    
                </div>
