<div id="container">
		<div id="example">
			<div id="slides">
				<div class="slides_container">
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8070538898/in/photostream" target="_blank"> <img src="/Images/Slide_Show/cover.jpg" width="565" alt="CrawlFish - Find. Compare. Decide"></a>
						<div class="caption" style="bottom:0">
							<p>CrawlFish - Find. Compare. Decide</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8070546133/in/photostream" target="_blank"><img src="/Images/Slide_Show/CrawlFish_1.jpg" width="290" height="270" alt="CrawlFish - What we do?"></a>
						<div class="caption">
							<p>CrawlFish - What we do?</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8070539568/in/photostream" target="_blank"><img src="/Images/Slide_Show/CrawlFish_2.jpg" width="290" height="270" alt="CrawlFish - Leave the dude alone. He'll figure it out!"></a>
						<div class="caption">
							<p>CrawlFish - Leave the dude alone. He'll figure it out!</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8070545939/in/photostream" target="_blank"><img src="/Images/Slide_Show/CrawlFish_3.jpg" width="290" height="270" alt="CrawlFish - Stop Reinventing!"></a>
						<div class="caption">
							<p>CrawlFish - Stop Reinventing!</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8150280944/in/photostream" target="_blank"><img src="/Images/Slide_Show/CrawlFish_4.jpg" width="290" height="270" alt="CrawlFish - Finally, Your money has found your wallet!"></a>
						<div class="caption">
							<p>CrawlFish - Your money has found your wallet!</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8186571941/in/photostream" target="_blank"><img src="/Images/Slide_Show/CrawlFish_Gift.jpg" width="290" height="270" alt="CrawlFish - Buy a mobile phone.Your gift will follow!"></a>
						<div class="caption">
							<p>CrawlFish - Buy a mobile phone. Your gift will follow!</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8187616340/in/photostream" target="_blank"><img src="/Images/Slide_Show/CrawlFish_diwali.jpg" width="400" height="270" alt="CrawlFish wishes you a Happy Diwali!"></a>
						<div class="caption">
							<p>CrawlFish wishes you a Happy Diwali!</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8198224939/in/photostream" target="_blank"><img src="/Images/Slide_Show/crawlfish_call.jpg" width="400" height="270" alt="CrawlFish - Call 9551 400 400"></a>
						<div class="caption">
							<p>CrawlFish - Call 9551 400 400</p>
						</div>
					</div>

					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8211311314/in/photostream" target="_blank"><img src="/Images/Slide_Show/crawlfish_simplyhappy.jpg" width="400" height="270" alt="CrawlFish - Simply Happy"></a>
						<div class="caption">
							<p>CrawlFish - Simply Happy</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8244761456/in/photostream" target="_blank"><img src="/Images/Slide_Show/crawlfish_where_to_buy_from.jpg" width="400" height="270" alt="CrawlFish - Where to buy from?"></a>
						<div class="caption">
							<p>CrawlFish - Where to buy from?</p>
						</div>
					</div>
					
					<div class="slide">
						<a href="http://www.flickr.com/photos/crawlfish/8337165582/in/photostream" target="_blank"><img src="/Images/Slide_Show/CF_Christmas.jpg" width="300" height="270" alt="CrawlFish - Merry Christmas"></a>
						<div class="caption">
							<p>CrawlFish - Merry Christmas</p>
						</div>
					</div>

				</div>
				<a href="#" class="prev"><img src="/Images/Slide_Show/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="/Images/Slide_Show/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
			</div>
			<img src="/Images/Slide_Show/example-frame.png" width="739" height="341" alt="Frame" id="frame">
</div>
</div>
