<div class="cf-media-news-section">
	<a href="http://yourstory.in/2012/09/crawlfish-online-price-comparison-website-today-chennai-tomorrow-the-world/" title="CrawlFish in YourStory!" target="_blank"><img src="/Images/Slide_Show/yourstory_logo.jpg" width="220" height="75" alt="YourStory"></a>
</div>
<div style="padding-top:20px"></div>
<div class="cf-media-news-section">
	<a href="http://www.nextbigwhat.com/price-comparison-offline-and-online-using-crawlfish-297/" title="CrawlFish in NextBigWhat!" target="_blank"><img src="/Images/nextbigwhat-logo.png" width="220" height="75" alt="NextBigWhat"></a>
</div>
