<br/>
<div align="center">
<table class="priceTable">
    <tr>
        <td colspan="2">
            <div class="g-text text-b20 gray-box" align="center">
            Nooooooooooooooo, we are not ready yet! <br/>
            You are going to love our blogs but only in the near future.
            <div class="comments-text" align="center">
            ... forgive us and wait for a little while!
            </div>
            </div>
        </td>
    </tr>
</table>    
            <%=image_tag "/Images/not-ready.jpg" %>

      <div class="text-n15 padT30 padB30">
      We should have had it already.  
      <span class="red-text">We are sorry! </span>
      </div>

</div>

