<br/>
<div align="center">
<table class="priceTable">
    <tr>
        <td colspan="2">
            <div class="g-text text-b20 gray-box" align="center">
            You see things and you say, Why? But I dream things that never were and I say, Why not?
            <div class="comments-text" align="center">
            ( - George Bernard Shaw)
            </div>
            </div>
        </td>
    </tr>

    <tr>
        <td align="center">
            <%=image_tag "/Images/creativity.jpg", :size => "500x317" %>
        </td>
        <td width="400px;">
            <span class="g-text text-n16">
            <br/>
            Creativity at CrawlFish
            </span>
            <br/>
            <br/>
            <span class="gray-text text-n15">
            We extremely encourage creativity at CrawlFish. To solve problems that we face in our daily lives and to find that one creative solution that don't only solve that problem for that instant but actually permanently.
            <br/>
            <br/>
            In this section, we have come forward to share those stories with you and help you understand how important is creativity and that's not the best part. The best part comes in the next section. Read ahead!            
            </span>
            <br/>
            <br/>
            <span class="g-text text-n16">
             The best part
            </span>
            <br/>
            <br/>
            <span class="red-text text-b18">
            Yes, you can
            </span>
            <span class="darkgray-text text-n18">
             share your stories of creativity.
            </span>
            <br/>
            <br/>
            <span class="g-text text-n16">
            But how?
            <br/>
            <br/>
            <span class="darkgray-text text-n15">
            Thanks for asking how.<br/> <br/>
            Just email us about your creative story, may it be text, photo or a video. Once we evaluate that its approriate and amazing, we will post it in the section given below and remember we love <span class="red-text"> quotes.</span>
            
            <br/>
            <br/>
            <span class="gray-text text-n20">
            Email : 
            </span>
            <span class="red-text text-n20">
            cs@crawlfish.in            
            </span>
            </span> 
            <br/>
            <br/>
            You can also send suggestions and ideas that can be very useful for CrawlFish.
        </td>
    </tr>
    <tr class="padT10">
        <td colspan="2">
            <br/>
            <div class="g-text text-b30 gray-box" align="center">
            Creative Stories
            <div class="comments-text" align="center">
            (... nothing less than amazing!)
            </div>
            </div>
        </td>
    </tr>
    <tr class="padT10" align="center">
        <td>
            <%= image_tag "/Images/ken.jpg", :size => "150x150" %>
        </td>
        <td align="left" valign="top">
            <div class="text-n25 darkgray-text">
            Sir Ken Robinson<%= link_to "(who?)",
                            "http://en.wikipedia.org/wiki/Ken_Robinson_(educationalist)", 
                            {:class => 'g-link'} %>
            </div>
            <br/>
            <div class="text-n20 gray-text">
            Great <span class="red-text">Quote</span>
            </div>
            <br/>
            <div class="text-n13 darkgray-text">
            "When my son, James, was doing homework for school, he would have five or six windows open on his computer, Instant Messenger was flashing continuously, his cell phone was constantly ringing, and he was downloading music and watching the TV over his shoulder. I don’t know if he was doing any homework, but he was running an empire as far as I could see, so I didn’t really care."<br/>
- Ken Robinson, The Element: How Finding Your Passion Changes Everything
            </div>
        </td>
    </tr>
    <tr class="padT10" align="center">
    <td colspan ="2">
      <div class="text-n20">
      More quotes, more stories, more photos are to be listed in this section. 
      Wait a minute.. 
      <span class="g-text">Do you have one? </span>
      Stop waiting and write an email to
      <span class="gray-text text-n20">
            Email : 
            </span>
            <span class="red-text text-n20">
            cs@crawlfish.in
            </span>
      </div>
    </td>  
    </tr>
    
    
</table>
</div>

