
	<ul class="cf-home-header-links-right">
        	<li><%= link_to "Mobiles & Tablets",{:controller => 'search',:action => 'index',:query=>'mobiles',:search_case => 'products'},:title=> 'Click here to visit Mobiles & Tablets index page'%></li>
		<li>|</li>
		<li><%= link_to "Books",{:controller => 'search',:action => 'index',:query=>'books',:search_case => 'products'},:title=>'Click here to visit Books index page'%></li>
        </ul>

