<div class="cf-gift-form-success-submit">
	
You have successfully submitted your details to claim your gift. <br/><br/>Now sit back and relax while we ship your <span style="color:#C42525;font-weight:bold">CrawlFish Gift</span> to your address!

</div>
