@charset "utf-8";
/* CSS Document */

html,body{
	margin:0;
	padding:0;
	background:none repeat scroll 0 0 #FFF;
	font-size:12px;
	font-family:arial,tahoma,verdana,sans-serif;
	font-weight:normal;
	color:#000;
	border:none;
	height:100%;
}

table,tr,td,span,a,div,h2,th,ul,li,p,ol,select,input,textarea{
	font-family: arial,tahoma,verdana,sans-serif;
}

img{
	border:0;
	outline:none;
}

a,:focus{
	outline:none;
}

.cf-andgo-content{
	width: 100%;
	margin:0 auto;
	height:auto!important;
	min-height:100%;
	position:relative;
}

.cf-andgo-header{
	height:70px;	
	background: none repeat scroll 0 0 #F4F5F6;
   	border-bottom: 0px solid #CCC;
}

.cf-andgo-header-logo{
	width: 50%;
	float:left;
}

.imgLogo img{
	width:213px;
	height:65px;
	padding-left:15px;
	padding-right:15px;
	margin-top:3px;
}

.imgTag img{
	width:200px;
	height:21px;
	padding-left:5px;
}

.cf-general-header-links-ul{
	margin-top:-5px;
	margin-right:0px;
	list-style:none;
	float:right;
}

.cf-general-header-links-ul li{
	float:right;
	padding-top:35px;	
}

.cf-general-header-links-ul a{	
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	margin-right:10px;
	color:#06C;
	font-size:13px;	
	padding-top:5px;
}

.cf-general-header-links-ul a:visited{
	color:#06C;
}

.cf-general-header-links-ul a:hover{
	color:#06F;
	text-decoration:underline;
}

.cf-general-header-links-ul a#cf-a-general-buy{
	width:100px;
}

.cf-general-header-links-ul a#cf-a-general-home{
	width:60px;
}

.cf-andgo-content-wrapper{
	width: 960px;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:40px;
	padding-left:100px;
	border:0px solid #CCC;
}

.cf-andgo-dashboard-content-wrapper{
	width: 960px;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:10px;
	padding-left:0px;
	border:0px solid #CCC;
}

.cf-andgo-content-header{
	line-height:30px;
	padding-bottom:5px;
	font-size:14px;
}

.cf-andgo-content-header-text{
	font-size:15px;
	color:#C42525;
}

.cf-andgo-footer{
	border-top:1px solid #CCC;
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
	height:30px;
	background: none repeat scroll 0 0 #F2F2FF;
   	border-top:2px solid #DADADA;
}

.cf-andgo-footer-content{
	text-align:center;
	padding-top:5px;
	color:#000;
}

.cf-andgo-footer-content a{
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	height:30px;
	margin-right:2px;
	margin-left:3px;
	color:#06C;
	font-size:13px;
	padding-left:10px;
}

.cf-andgo-footer-content a:visited{
	color:#06C;
}

.cf-andgo-footer-content a:hover{
	color:#06C;
	background: none;
	text-decoration:underline;
}

.cf-andgo-content-signin{
        margin-left:100px;
	width:550px;
	padding-top:10px;
}

.cf-andgo-content-signin-header{
	font-size:14px;
	color:#333;
	padding-bottom:15px;
}

.cf-andgo-content-signin-wrapper{
	border:1px solid #999;
}

.cf-andgo-content-signin-form-header{
	background:none repeat scroll 0 0 #EEE;
	border-left:5px solid #C42525;
	border-bottom:1px thin #DDD;
	height:30px;
	font-size:13px;
	font-weight:bold;
	padding-left:5px;
	padding-top:8px;
}

.cf-andgo-content-signin-form{
	width:500px;
	margin-left:24px;
	padding-top:20px;
	padding-bottom:10px;
}

.cf-andgo-content-signin-form-table{
	width:500px;
	text-align:left;
	background:none repeat scroll 0 0 #F5F5F5;
	padding-top:20px;
	padding-bottom:10px;
	border:1px solid #CCC;
}

.signin-td{
	font-size:13px;
	color:#000;
	text-align:right;
	width:90px;
	font-family:Arial;
}

.signin-other{
	text-align:left;
	width:300px;
}

.signin-txtfield{
	width:270px;
	height:20px;
	border:1px solid #CCC;
}

.forgot-password-div{
	float:left;
	padding-top:5px;
	padding-left:5px;
}

.login-div{
	float:right;
	padding-right:13px;
}

.signin-button{
	text-align:right;
}

.login{
	color:#FFF;
	text-decoration:none;
	padding-top:2px;
	padding-right:8px;
	padding-left:6px;
	width:80px;
	height:30px;
	display:block;
	border:1px solid #CCC;
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	cursor: pointer;
	font-weight:bold;
	font-size:11px;
	font-family:verdana,helvetica,sans-serif;
	background:none repeat scroll 0 0 #C42525;
        -moz-border-radius-topleft: 1px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;
}

.login:hover{
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background:none repeat scroll 0 0 #D42525;
}

@-moz-document url-prefix(){
.login{
padding-top:0px;
}

.signup-proceed{
padding-top:0px;
}

.fieldset-table-submit-button{
padding-top:0px;
}

}
.cf-signin-form-error{
	padding-left:25px;
}

.cf-signin-form-error-message{
	font-size:13px;
	color:#C42525;
	padding-bottom:10px;
	font-weight:bold;
}

.clear{
	clear:both;
	padding-top:20px;	
}

.cf-andgo-middle-content{
	border:1px solid #CCC;
}

.complete-dashboard-div{
	float:left;
	padding-right:10px;
}

.complete-andgo-a,.complete-phoneservice-a{
	color:#FFF;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	height:23px;
	display:block;
	background:none repeat scroll 0 0 #444;
	padding-top:5px;
	text-align:center;
}

.complete-andgo-a{
	width:95px;
}

.complete-phoneservice-a{
	width:150px;
}

.complete-andgo-a:visited,.complete-phoneservice-a:visited{
	color:#FFF;
}

.complete-andgo-a:hover,.complete-phoneservice-a:hover{
	color:#FFF;
	background:none repeat scroll 0 0 #C42525;
}

.complete-andgo-a:active,.complete-phoneservice-a:active{
	background:none repeat scroll 0 0 #C42525;
}

.complete-dashboard-div a#active {
	background:none repeat scroll 0 0 #C42525;
}

.cf-andgo-middle-content-details{
	margin-left:200px;
	margin-right:150px;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	border:1px solid #DDD;
	width:auto;
	background:none repeat scroll 0 0 #F5F5F5;
	
}

#cf-andgo-middle-content-product-searchtext,#cf-andgo-middle-content-mobilenumber-text,#cf-andgo-middle-content-city-text,#cf-andgo-middle-content-area-text{
	border:1px solid #CCC;
	width:300px;
	height:20px;
}

.cf-andgo-middle-content-product-price{
	border:1px solid #CCC;
	width:120px;
	height:20px;
}

.cf-andgo-middle-content-product-vendorphone-no{
	border:1px solid #CCC;
	width:135px;
	height:20px;
}

.cf-andgo-middle-content-product-vendorphone-no-none{
	display:none;
}

.cf-andgo-middle-content-details-table{
	margin-left:70px;
}

.cf-andgo-middle-content-details-name{
	font-size:13px;
	color:#000;
	font-weight:bold;
}

.cf-andgo-middle-content-details-txt{
	font-size:13px;
	color:#000;
	padding-left:30px;
}

.cf-andgo-middle-content-details-submit{
	padding-left:29px;
}

#cf-andgo-middle-content-submit{
	background:none repeat scroll 0 0 #C42525;
	border:0px solid #CCC;
	height:25px;
	width:100px;
	cursor:pointer;
	color:#FFF;
	font-weight:bold;
	font-size:13px;
	text-shadow: 0 1px rgba(0,0,0,0.1);
  	-moz-border-radius-topleft: 2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	font-family:arial,tahoma,verdana,sans-serif;	
}

#cf-andgo-middle-content-submit:hover{	
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background:none repeat scroll 0 0 #D42525;
}

#cf-andgo-middle-content-reset{	
	margin-left:10px;
	background:none repeat scroll 0 0 #C42525;
	border:0px solid #CCC;
	height:25px;
	width:100px;
	cursor:pointer;
	color:#FFF;
	font-weight:bold;
	font-size:13px;
	text-shadow: 0 1px rgba(0,0,0,0.1);
  	-moz-border-radius-topleft: 2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	font-family:arial,tahoma,verdana,sans-serif;	
}

#cf-andgo-middle-content-reset:hover{	
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background:none repeat scroll 0 0 #D42525;
}

.cf-andgo-vendor-wrapper{
	margin:10px;
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-left:1px solid #000;
	border-bottom:2px solid #AAA;
}

#loading-bar-andgo{
	float:left;
	padding-left:6px;
	padding-top:2px;
}

#loading-bar-andgo-request{
	padding-left:3px;
	float:right;
}

#loading-bar-andgo-subcategory{
	float:right;
}

.cf-andgo-vendor-grid-table{
	width:auto;
}

.cf-andgo-vendor-grid-table-header{
	background:none repeat scroll 0 0 #C42525;
	color:#FFF;
	height:25px;
	border:1px solid #FFF;
	text-align:center;
}

.cf-andgo-vendor-grid-table-content-row{
	height:100px;
}

#grid-vendor-details{
	width:250px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

#grid-vendor-details a{
	color:#FFF;
	cursor:pointer;
	background:none;
	text-decoration:none;
}

#grid-vendor-details a:visited{
	color:#FFF;
	background:none;
	text-decoration:none;
}

#grid-vendor-details a:hover{
	color:#FFF;
	background:none;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	text-decoration:underline;
}

.grid-vendor-row-vendor-details{
	width:220px;
	border-bottom:2px solid #AAA;
	padding-left:10px;
	padding-right:20px;
}

.grid-vendor-name{
	font-size:14px;
	color:#C42525;
	font-weight:bold;
	padding-top:8px;
	padding-bottom:2px;
}

.grid-vendor-address{
	font-size:13px;
	color:#000;
	line-height:20px;
	padding-bottom:2px;
}

.grid-vendor-email{
	font-size:13px;
	color:#000;
	line-height:20px;
	padding-bottom:2px;
}

.grid-vendor-phone{
	font-size:13px;
	color:#000;
	line-height:20px;
	padding-bottom:2px;
}

.grid-vendor-time{
	font-size:13px;
	color:#000;
	line-height:20px;
	padding-bottom:2px;
}

.grid-vendor-offers{
	font-size:13px;
	color:#000;
	line-height:20px;
	padding-bottom:8px;
}

#grid-coupon-code-leads{
	width:270px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

#grid-coupon-code-leads a{
	color:#FFF;
	cursor:pointer;
	background:none;
	text-decoration:none;
}

#grid-coupon-code-leads a:visited{
	color:#FFF;
	background:none;
	text-decoration:none;
}

#grid-coupon-code-leads a:hover{
	color:#FFF;
	background:none;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	text-decoration:underline;
}

#grid-payment-details{
	width:220px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

#grid-payment-details a{
	color:#FFF;
	cursor:pointer;
	background:none;
	text-decoration:none;
}

#grid-payment-details a:visited{
	color:#FFF;
	background:none;
	text-decoration:none;
}

#grid-payment-details a:hover{
	color:#FFF;
	background:none;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	text-decoration:underline;
}

#grid-price{
	width:190px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

#grid-price a{
	color:#FFF;
	cursor:pointer;
	background:none;
	text-decoration:none;
}

#grid-price a:visited{
	color:#FFF;
	background:none;
	text-decoration:none;
}

#grid-price a:hover{
	color:#FFF;
	background:none;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	text-decoration:underline;
}

.grid-button{
	width:180px;
	color:#000;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

.grid-coupon-code-leads-row{
	width:265px;
	font-size:13px;
	border-bottom:2px solid #AAA;
}

.cf-andgo-coupon-code-leads-table{
	border-top:1px solid #CCC;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
}

.cf-andgo-coupon-code-leads-table td{
	height:20px;
	min-width:58px;
	text-align:center;
	border-bottom:1px solid #CCC;
}

.cf-andgo-coupon-code-leads-table th{
	height:25px;
	text-align:center;
}

.grid-payment-details-row{
	width:200px;
	font-size:13px;
	border-bottom:2px solid #AAA;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
}

.cf-andgo-payment-table{
	width:180px;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
}

.cf-andgo-payment-table td{
	height:20px;
	text-align:center;
	border-bottom:1px solid #CCC;
}

.grid-price-row{
	width:180px;
	font-size:14px;
	font-weight:bold;
	border-bottom:2px solid #AAA;
	text-align:center;
}

#grid-button-row{
	width:200px;
	color:#000;
	border-bottom:2px solid #AAA;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

#grid-button-row a{
	color:#FFF;
	margin-left:35px;
	text-decoration:none;
	padding-top:5px;
	padding-right:5px;
	padding-left:5px;
	width:85px;
	height:20px;
	display:block;
	border:1px solid #CCC;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	cursor: pointer;
	font-weight:bold;
	font-size:13px;
	font-family:verdana,helvetica,sans-serif;
	background:none repeat scroll 0 0 #C42525;
        -moz-border-radius-topleft: 1px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;
}

#grid-button-row a:visited{
	background:none repeat scroll 0 0 #D42525;
}

#grid-button-row a:hover{
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background:none repeat scroll 0 0 #D42525;
}

#loading-bar-andgo-submit-request{
	float:left;
	padding-left:5px;
}

.cf-andgo-vendor-grid-table-nocontent-row{
	width:900px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	color:#C42525;
}

.cf-customer-care-entries-wrapper{
	background:none repeat scroll 0 0 #F5F5F5;
	border:2px solid #CCC;
	width:800px;
	padding-left:10px;
	margin-left:60px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:20px;
	margin-bottom:20px;
}

.cf-customer-care-entries-wrapper-header{
	font-size:14px;
	color:#C42525;
	font-weight:bold;
	padding-bottom:15px;
}

.fgt-login-name-lbl{
	font-size:13px;
	color:#000;
}

.customer-care-txt{
	border:1px solid #CCC;
	width:350px;
	height:20px;
	font-size:13px;
}

.customer-care-txt-area{
	resize:none;
	width:345px;
	min-height:100px;
	border:1px solid #CCC;
	font-size:13px;
}

.fgt-submit{
	text-align:center;
	color:#FFF;
	text-decoration:none;
	padding-top:3px;
	padding-right:8px;
	padding-left:6px;
	width:80px;
	height:30px;
	display:block;
	border:1px solid #CCC;
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	cursor: pointer;
	font-weight:bold;
	font-size:12px;
	font-family:verdana,helvetica,sans-serif;
	background:none repeat scroll 0 0 #C42525;
        -moz-border-radius-topleft: 1px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;
}

@-moz-document url-prefix(){

.fgt-submit{
height:30px;
padding-top:0px;
}

}

.fgt-submit:hover{
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background:none repeat scroll 0 0 #D42525;
}

.cf-andgo-cc-message{
	padding-top:5px;
	font-size:13px;
	color:#000;
}

.cf-andgo-phone-service-wrapper{
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
	width:900px;
	margin-left:300px;
}

.cf-andgo-list-customers-wrapper{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

.cf-andgo-ps-list-customers-wrapper,.cf-andgo-ps-new-customer-wrapper{
	float:left;
	padding-left:2px;
	padding-right:2px;
}

.cf-andgo-ps-message-wrapper{
	float:left;
	padding-left:2px;
	padding-right:2px;
	margin-left:50px;
}

.cf-andgo-ps-new-wrapper{
	float:right;
	padding-top:10px;
	padding-right:80px;
}

.list-customers-button,.new-customers-button{
	color:#FFF;
	margin-left:35px;
	text-decoration:none;
	padding-top:5px;
	padding-right:15px;
	padding-left:15px;
	width:auto;
	height:20px;
	display:block;
	border:1px solid #CCC;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	cursor: pointer;
	font-weight:bold;
	font-size:13px;
	font-family:verdana,helvetica,sans-serif;
	background:none repeat scroll 0 0 #C42525;
        -moz-border-radius-topleft: 1px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;
}

.list-customers-button:visited,.new-customers-button:visited{
	background:none repeat scroll 0 0 #D42525;
}

.list-customers-button:hover,.new-customers-button:hover{
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background:none repeat scroll 0 0 #D42525;
}

.date-txt{
	border:1px solid #CCC;
	width:100px;
}

.cf-andgo-middle-content-details select{
	border:1px solid #CCC;
	font-size:13px;
	height:22px;
}

.search-submit-div{
	float:left;
}

.search-submit{
	color:#FFF;
	text-decoration:none;
	padding-top:0px;
	padding-right:8px;
	padding-left:6px;
	width:80px;
	height:24px;
	display:block;
	border:1px solid #CCC;
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	cursor: pointer;
	font-weight:bold;
	font-size:11px;
	font-family:verdana,helvetica,sans-serif;
	background:none repeat scroll 0 0 #C42525;
        -moz-border-radius-topleft: 1px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;
}

@-moz-document url-prefix(){
.search-submit{
	height: 21px;
	padding-bottom:2px;
}
}

.search-submit:hover{
	color:#FFF;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background:none repeat scroll 0 0 #D42525;

}

.cf-andgo-lcw-left-content-details{
	padding:10px;
	margin-left:20px;
	margin-top:15px;
	border:1px solid #DDD;
	width:550px;
	float:left;
	background:none repeat scroll 0 0 #F5F5F5;
}

.cf-andgo-lcw-right-content-details{
	padding:5px;
	margin-left:20px;
	margin-top:15px;
	border:2px solid #B00;
	width:300px;
	line-height:20px;
	float:left;
	font-size:13px;
	background:none repeat scroll 0 0 #F5F5F5;
}

.cf-andgo-lcw-content-table-wrapper{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
}

.cf-andgo-lcw-content-table{
	border-top:1px solid #000;
	border-left:1px solid #000;
}

.cf-andgo-lcw-content-table th{
	background:none repeat scroll 0 0 #C42525;
	height:25px;
	color:#FFF;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid #000;
	border-right:1px solid #AAA;
}

.cf-andgo-lcw-content-table td{
	padding-top:10px;
	padding-bottom:10px;
	background:none repeat scroll 0 0 #FFF;
	color:#000;
	font-size:13px;
	font-weight:normal;
	text-align:center;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
}

.cf-andgo-lcwct-name{
	width:100px;
}

.cf-andgo-lcwct-phoneno,.cf-andgo-lcwct-type,.cf-andgo-lcwct-locality,.cf-andgo-lcwct-comments{
	width:95px;
}

.cf-andgo-lcwct-product,.cf-andgo-lcwct-shops{
	width:150px;
}

.cf-andgo-lcwct-followup{
	width:70px;
}

.cf-andgo-lcwct-edit{
	width:50px;
}

.cf-andgo-middle-content-label-none{
	display:none;
}

.cf-andgo-middle-content-label{
	text-decoration:none;
	border:1px solid #CCC;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	font-weight:bold;
	font-family:verdana,helvetica,sans-serif;
	background:none repeat scroll 0 0 #C42525;
        -moz-border-radius-topleft: 1px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;	
	color:#FFF;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:8px;
	padding-right:8px;
	font-size:13px;
	text-transform:uppercase;
}
