<!-- AREA COVERED LAYOUT - STARTS -->
        <div class="header-text padL15 border-gray-t padT10">
        Areas covered In Chennai
        </div>
        <div class="comments-text padL15 border-gray-b padB5">
            All areas that are featured at crawlfish are listed below, choose your nearby area to locate a retail shop in your area!
        </div>
        <!-- AREA COVERED LAYOUT - ENDS -->
            <!-- AREA COVERED LIST - STARTS -->
            <div id="in-box-display marL10" class="padL40">
                <%= form_14(@a_areas,"area-cov-box","nofollow") %>
                <div style="clear:both">&nbsp;</div>
            </div>
<!-- AREA COVERED LIST - ENDS -->
