<!-- UPDATE BOX - STARTS -->
            <div class="gray-box marA10 padLR20">
                <span class="darkgray-text text-b14">Latest Headlines : </span>
                <span id="flash_notice" class="red-text text-b14">                
                  <%= flash[:notice] %>                
                </span>
                <div class="comments-text  text-n10">
                 This section updates you with the latest news and releases, click on the link to know more.
                </div>
            </div>
<!-- UPDATE BOX - ENDS -->

<!-- RANDOM BOX - STARTS -->
            <!--Commenting and not deleting for google text ads
            <div class="gray-box marA10 padLR20">
                <span class="darkgray-text text-b13">Random text ranom link and ranod prod</span>
            </div>
            -->
<!-- RANDOM BOX - ENDS -->
