<!-- FOOT - STARTS -->
            <div id="footer-end" class="red-link">
            <center>
            <%= link_to "about","/"%> &middot; 
            <%= link_to "complain","/" %> &middot; 
            <%= link_to "blog","/" %> &middot;
            <%= link_to "we love creativity","/"%>
            </center>
            <center>
            <span class="darkgray-text text-n9">(Frankly, we have reserved a lot of space in the footer for the future)</span>
            </center>
                <div class="clear"></div>
            </div>
<!-- FOOT - ENDS -->

<!-- FOOTER LAYOUT - STARTS -->
<div id="footer">
    <div class="copy-rights">
    <center>
    <b>&copy;</b>&nbsp;2011-2013 A lot of rights reserved.
    </center>
    </div>
</div>
<!-- FOOTER LAYOUT - ENDS -->
