<!-- IMPORTANT AREA LAYOUT - STARTS -->
            <div class="padT5 border-gray-b">
                <!-- IMPORTANT AREA HEADER - STARTS -->
                <span class="header-text">Hub Areas in Chennai</span>
                <div class="comments-text padL5 padB5 border-gray-b">
                List of some very important areas in chennai, click to view retail shops in those areas!
                </div>
                <!-- IMPORTANT AREA HEADER - ENDS -->
                <!-- IMPORTANT AREA LIST - STARTS -->
                <%= form_14(@g_hub,"top-shop-box","nofollow") %>
                <!-- IMPORTANT AREA LIST - ENDS -->
                <div class="clear"></div>
            </div>
<!-- IMPORTANT AREA LAYOUT - ENDS -->

<!-- ADS  DISPLAY 300X250 - Not displaying ads now. 
            <div class="padB10 border-gray-b"><span class="header-text ">Advertisements</span>
                <center><img src="study/image/main/pepsi.jpg" ></center>
            </div><br/>
<ADS  DISPLAY 300X250 - ENDS -->

