<div class="white-box marA10 padLR20">
<div class="fl" style="width:500px">
        <span class="lightblack-text text-b18">
          <span class="red-text">
            CrawlFish
          </span>
            helps you to know the
          <span class="red-text"> 
            best price 
          </span>  
            of a product
        </span>
        <br/>
        <span class="darkgray-text text-n11">
        You can search for a wide range of products from your favourite mobile phones to the most <br/> popular pendrives. Where would you like to start?
        </span>
</div>
<div id="arrow-price" class="fl gray-box-tight" style="width:85px;" align="center">
<img src="/Images/arrow9.png" class="home-arrow" width="200" height="120" >
<span class="darkgray-text text-n11">
Wondering,
</span>
<span class="darkgray-text text-b11">
what can I buy for 
<span class="red-link-b10">
<a rel="nofollow" href="#" class="home-arrow-link" onclick="document.getElementById('price-search').value='10,500.00'">
INR 10,500.00
</a>
</span>
..?
</span>

</div>

<div class="clear"></div>
</div>

