<!-- TOP SHOPS LAYOUT - STARTS -->
<div class="padT10 padB10 border-gray-b">
                <!-- TOP SHOPS HEADER - STARTS -->
                <span class="header-text">Top Retail Shops In Chennai</span>
                <div class="comments-text padL10  padB5 border-gray-b">
                Here are some of the top retail shops located in chennai, based on various reviews and evaluation factors!
                </div>
                <!-- TOP SHOPS HEADER - ENDS -->
                <!-- TOP SHOPS LIST - STARTS -->
                <%= form_14_url(@v_top,"top-shop-box","nofollow") %>
                <!-- TOP SHOPS LIST - ENDS -->
                <div class="clear"></div>
            </div>
<!-- TOP SHOPS LAYOUT - ENDS -->
