<div style="clear:both">&nbsp;</div>
 <!-- POPULAR 12 vendors - STARTS -->
                <div class="border-gray-t"> </div>
                <div class="header-text padT10 padL10">
                    Popular Shops in <%= @city.titleize %>
                </div>
                <div class="comments-text padL10  padB5 border-gray-b">
                    Listing popular shops in chennai based on various reviews and evaluation factors!
                </div>


<%= form_v(@shops_12,@admin_12) %>  
