<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <span style="font-size:14px;font-weight:bold;color:#C42525"><u>CrawlFish</u></span>
    <br/>
    <br/>
    <span style="font-size:13px;font-weight:normal">
    	You have an entry for DELETE in <b>local_price_list_products</b> in <b>crawlfish.in</b> at <i><b><%= Time.new.to_s %></b></i>
    </span>
	<br/>
  </body>
</html>
