<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <b>Dear Human</b>

  <p>===================================</p>
  
  <p>  
   A customer has felt <b><%= @type.titleize %></b> and complained.
   </p> 
   <p> 
   Name : <%= @name.titleize %>
   </p> 
   <p> 
   Email : <%= @email.titleize %>
   </p> 
   <p> 
   Complain : <%= @c %>
  </p> 
  <p>===================================</p>
  <p>
  <b>Happy Being!</b>
  </p> 
  </body>
</html>
