<% @vendors.each do |vendor| %>

<ul> <%= form_city_area_vendor_links(@category_name,@country,@city,vendor.branch_name,vendor.vendor_alias_name) %> - <%= vendor.branch_name %></ul>
<li> <%= vendor.vendor_address %> </li>
<li> <%= vendor.vendor_phone %> </li>

<% end %>

