<div style="float:left">
	You have logged in as : <span class="cf-andgo-content-header-text"><%= @and_go_user_name.capitalize %></span>
</div>

<div style="float:right">
	<%= link_to "Log out", andgo_log_out_path,:class=>'logout-a' %>
</div>
